@import 'variables';
@import 'text-styles';

// Section styles
body {
  margin: auto 0;
}

.container {
  margin: 0 auto;
  max-width: 768px;
}

.hero {
  height: 300px;
}

.primary-section {
  background-color: $primary-color;
}
// End section styles

// Nav Styles

// End nav styles

// Buttons

.resumes button {
  background-color: $white;
  border: 1px solid $pink;
  color: $black;
  width: 100px;
}

// End Buttons
