// sudo sass --watch styles/sass:styles

$primary-color: #3e2a35;
$row-padding: 4%;
$hover-color: #e26d5a;

nav {
  background-color: white;
  width: 100%;
  padding-top: .5em;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $hover-color;
    font-weight: 700;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    text-align: center;
  }
    li {
      display: inline-block;
      width: 23%;
      text-align: center;
    }
}

#header_nav {
  left: 0;
  z-index: 9999;
  position: fixed;
  border-bottom: 1px solid black;
}

footer {
  border-top: 1px solid black;
  text-align: center;
  padding-top: .5%;
}

.hero-bg {
  width:100%;
  padding-top: 15%;
  padding-bottom: 12%;
  clear:both;
  overflow: hidden;
  background:url(../images/aurora.jpg) no-repeat top center;
  background-attachment:fixed;

}

.hero-content {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}

.shadowed {
  -webkit-box-shadow: 0 8px 10px -6px black;
   -moz-box-shadow: 0 8px 10px -6px black;
        box-shadow: 0 8px 10px -6px black;
}

.inset-shadow {
  -webkit-box-shadow: inset 0 -8px 6px -6px black;
   -moz-box-shadow: inset 0 -8px 6px -6px black;
        box-shadow: inset 0 -8px 6px -6px black;
}

.portrait {
  max-width: 100%;
  margin-bottom: 1.2em;
}

.section {
  padding-top: $row-padding;
  padding-bottom: $row-padding;
}

.alt {
  padding-top: $row-padding;
  padding-bottom: $row-padding;
  background-color: $primary-color;
  color: white;
  .cta {
    color: white;
  }
}

input, textarea, select, fieldset {
  color: black;
}

.cta {
  width: 80%;
  background-color: #ECEFF1;
  margin-bottom: 1.5em;
  text-align: center;
  border-radius: 360px;
  padding: .3em;
  margin-left: auto;
  margin-right: auto;
}

.cta a {
  color: black;
  font-size: 1.3em;
  text-decoration: none;
}

.cta:hover {
  background-color: $hover-color;
}

.nomargin {
  margin-left: 0;
}

a.back-to-top {
  opacity: 0.7;
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: $hover-color url("../images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

input[type="submit"] {
  width: 60%;
}

input[type="reset"] {
  width: 38%;
  margin-left: 2%;
}

.social-media {
  text-align: center;
  font-size: 2em;
  color: white;
  margin-bottom: 10%;
}

#linkedin {
  background-color: #0077b5;
}

#bitbucket {
  background-color: #205081;
}

#instagram {
  background-color: #3f729b;
}

#rdio {
  background-color: #007dc3;
  font-weight: 700;
}

.skillsection {
  text-align: center;
  h4 {
    font-weight: 700;
  }
  i {
    font-size: 4em;
  }
}

.portitem {
  margin-bottom: 5%;
  img {
    max-width: 100%;
  }
}

.mapbox {
  margin-bottom: 1.5em;
}

#map {
  height: 15em;
  border-radius: 10px;
  border: 1px solid black;
 }
